.MovieBox {
    background-color: #f2f2f2;
    margin: 5rem auto;
    width: 60%;
    max-width: 600px;
    height: 20rem;
    padding: 2px 8px;
    overflow: auto;
    box-shadow: 5px 10px 5px #bfbfbf;
}